<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430308712143-j2jtvtvo04rvbf363sjk047ulj3hf2f4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430308712143-j2jtvtvo04rvbf363sjk047ulj3hf2f4</string>
	<key>API_KEY</key>
	<string>AIzaSyDKI_sZE_HtsCEpsH7yRSbAIWfHVmswG14</string>
	<key>GCM_SENDER_ID</key>
	<string>430308712143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>usc.edu.PriceMadisonFinalProject</string>
	<key>PROJECT_ID</key>
	<string>pricemadisonfinalproject</string>
	<key>STORAGE_BUCKET</key>
	<string>pricemadisonfinalproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430308712143:ios:bc7af1dde2ce6bf21ee1ba</string>
</dict>
</plist>